header {
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    background-color: blueviolet;
    font-weight: 900;
    font-size: large;
    width: 100%;
    text-align: center;
}
main {
    margin-top: 100px;
}
#alertButton {
    background-color: blueviolet;
    box-shadow: 5px 5px 10px rgb(105, 32, 173);
    color: white;
    font-weight: 900;
    font-size: large;
    width: 200px;
}
#alertButton:hover {
    box-shadow: none;
    transition: translateY(5px);
}